<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/b651ce1c-6240-4a7d-aa33-18fb14adbf89/resourceGroups/WeatherReport/providers/Microsoft.Web/sites/user-weather-report-api</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://user-weather-report-api.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>59bfe1c3-f616-41dc-88db-2944caf843f4</ProjectGuid>
    <PublishUrl>https://user-weather-report-api.scm.azurewebsites.net/</PublishUrl>
    <UserName>$user-weather-report-api</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>